<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="maispace-consent-placeholder">
    <p>
        <f:translate key="LLL:EXT:mai_consent/Resources/Private/Language/locallang_fe.xlf:placeholder.message" default="This content requires your consent to be displayed." />
    </p>
    <button type="button" data-maispace-consent-action="open-modal">
        <f:translate key="LLL:EXT:mai_consent/Resources/Private/Language/locallang_fe.xlf:placeholder.openModal" default="Manage cookie preferences" />
    </button>
</div>
</html>
