<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{maispace_consent.isGated}">
    <f:then>
        <div
            data-maispace-consent-required="{maispace_consent.categoryList}"
            data-maispace-consent-uid="{data.uid}"
            hidden="hidden"
        >
            <f:render section="Main" />
        </div>
        <f:if condition="{maispace_consent.showPlaceholder}">
            <div data-maispace-consent-placeholder="{data.uid}" hidden="hidden">
                <f:render partial="{maispace_consent.placeholderPartial}" arguments="{data: data}" />
            </div>
        </f:if>
    </f:then>
    <f:else>
        <f:render section="Main" />
    </f:else>
</f:if>
</html>
